<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mycardsystembackstage.mapper.LogsMapper">
    <cache type="com.chen.mycardsystembackstage.cache.MybatisRedisCache"></cache>
    <insert id="addLogs" parameterType="com.chen.mycardsystembackstage.entity.Logs">
        INSERT INTO
            logs(type,user,ip,classMethod,args,path,time)
        VALUES (#{type},#{user},#{ip},#{classMethod},#{args},#{path},#{time})
    </insert>
    <select id="getLogs" resultType="com.chen.mycardsystembackstage.entity.Logs" parameterType="com.chen.mycardsystembackstage.entity.Logs">
        SELECT * FROM logs
        <where>
            <if test="type == 2">
                type!="登录"
            </if>
            <if test="type == 3">
                type="登录"
            </if>
            <if test="type == 1">
                type!="null"
            </if>
        </where>
                 order by id desc
    </select>
</mapper>